.app__datecomponent_container
{
    display: flex;
    
    justify-content: center;
    
    height:100%;
    font-size: 35px;
    
}
.timeselection_container
{
    padding-top: 20px;
    width: 200px;
}
.app{
    margin-top: 150px;
}
.css-hlj6pa-MuiDialogActions-root{
    visibility: hidden
  }