.greetingBlock_wrapper{
    
}
.greetingBlock_container{
    
}
.header_icons{
    height: 30px;
}
.greetingBlock_textBlock{
    display: flex;
    font-size: 22px;
    gap:10px;
    align-items: center
}
.author_img{
    height: 200px;
    border-radius: 100px;
}
.greeting{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}